@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #333;
    padding: 1rem 10vw;
    line-height: 1.5;
}
summary {
    cursor: pointer;
}
h1 {
    color: #0f0011;
    font-size: 2.027rem;
}
h2{
    font-size: 1.802rem;
}
h3{
    font-size: 1.602rem;
}
h4{
    font-size: 1.424rem;
}
h5{
    font-size: 1.266rem;
}
h6{
    font-size: 1.125rem;
}
input, select{
    width: 90%;
}

select{
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}
.day-section {
    margin-bottom: 40px;
}
.day-header {
    background-color: #FFD200;
    color: #0f0011;
    padding: 1rem;
}
.time-slot:last-child {
    border-bottom: none;
}
.time {
    font-weight: bold;
    margin-bottom: 10px;
    color: #0f0011;
}
.event-container.session-container, .event-container.workshop-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.event-card {
    padding: 15px;
    box-sizing: border-box;
}
.event-title {
    font-weight: bold;
    margin-bottom: 8px;
}
.event-location {
    font-style: italic;
    margin-bottom: 8px;
    font-weight: 600;
}
.event-presenter {
    margin-bottom: 8px;
    font-size: 1rem;
}
.event-description {
    font-size: 1rem;
    margin-top: 10px;
}
.event-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}
.tag {
    border: 1px solid #0f0011;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
}
.filters {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f5f5f5;
}
.filter-group {
    margin-bottom: 10px;
}
.filter-group input{
    margin-bottom: 1rem;
}
.filter-title {
    font-weight: bold;
    margin-bottom: 5px;
}
select, input {
    font-family: inherit;
    padding: 8px;
    margin-right: 10px;
}
button {
    font-family: inherit;
    padding: 0.5rem 1rem;
    background-color: #0f0011;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
.event-card button{
    padding: 0.25rem 1rem;
}
summary{
    border-radius: 4px;
    padding: 0.5rem 1rem;
}
.empty-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #777;
}
.presenters-list {
    margin-top: 5px;
    margin-bottom: 5px;
}
ul.presenters-list {
    list-style: none;
    padding-left: 0;
}

ul.presenters-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 1rem;
}

ul.presenters-list > li::before {
    content: "→";
    position: absolute;
    left: 0;
}

dialog#speakerDialog{
    width: 70vw;
    flex-direction: column;
}

dialog#speakerDialog button{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

dialog#speakerDialog img{
    height: 10rem;
    width: 10rem;
    background-size: 10rem;
}

dialog#speakerDialog div.container{
    display: flex;
    gap: 2rem;
}
dialog#speakerDialog div.container div{
    width: 20rem;
}

.color-white {
    border-left: 10px solid gray;
    background-color: #f9f9f9;
}

.event-container.session-container:has(.event-card.color-white){
    grid-template-columns: repeat(1, 1fr);
}

.event-card.color-dark-pink {
    border-left: 10px solid #B51963;
    background-color: rgba(181, 25, 99, 0.1);
}
.event-card.color-dark-pink button, .event-card.color-dark-pink .event-description summary{
    background: transparent;
    border: 2px solid #B51963;
    color: #000000;
}

.event-card.color-dark-blue {
    border-left: 10px solid #054FB9;
    background-color: rgba(5, 79, 185, 0.1);
}
.event-card.color-dark-blue button, .event-card.color-dark-blue .event-description summary{
    background: transparent;
    border: 2px solid #054FB9;
    color: #000000;
}

.event-card.color-acid-green {
    border-left: 10px solid #89CE00;
    background-color: rgba(137, 206, 0, 0.1);
}
.event-card.color-acid-green button, .event-card.color-acid-green .event-description summary{
    background: transparent;
    border: 2px solid #89CE00;
    color: #000000;
}

.event-card.color-tiffany {
    border-left: 10px solid #00B4C5;
    background-color: rgba(0, 180, 197, 0.1);
}
.event-card.color-tiffany button, .event-card.color-tiffany .event-description summary{
    background: transparent;
    border: 2px solid #00B4C5;
    color: #000000;
}

.event-card.color-pink {
    border-left: 10px solid #E47895;
    background-color: rgba(228, 120, 149, 0.1);
}
.event-card.color-pink button, .event-card.color-pink .event-description summary{
    background: transparent;
    border: 2px solid #E47895;
    color: #000000;
}

.event-card.color-orange {
    border-left: 10px solid #F57600;
    background-color: rgba(245, 118, 0, 0.1);
}
.event-card.color-orange button, .event-card.color-orange .event-description summary{
    background: transparent;
    border: 2px solid #F57600;
    color: #000000;
}

.event-card.color-lilla {
    border-left: 10px solid #9B8BF4;
    background-color: rgba(155, 139, 244, 0.1);
}
.event-card.color-lilla button, .event-card.color-lilla .event-description summary{
    background: transparent;
    border: 2px solid #9B8BF4;
    color: #000000;
}

/* Responsive design */

@media screen and (min-width: 768px) {
    .event-container.session-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .event-container.workshop-container {
        grid-template-columns: repeat(4, 1fr);
    }

    input, select{
        width: 20rem;
    }

    dialog#speakerDialog {
        width: 40vw;
        flex-direction: row;
    }
}

.only-print{
    display: none;
}

.not-print{
    display: block;
}

@media print {


    *, h1, h2, h3, h4, h5, h6{
        padding: 0;
        margin: 0;
        gap: 0;
        column-gap: 0;
        row-gap: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 12px !important;
    }

    .event-card, .event-title, .time{
        padding: 0;
        margin: 0;
    }

    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

    .event-card{
        padding-left: 5px;
    }

    .day-header {
        background-color: #FFD200;
    }


    .not-print{
        display: none;
    }

    .only-print{
        display: block;
    }

    body, li, span{
        font-size: 12px !important;
    }

    h1, .filters, summary, .event-description, .event-tags{
        display: none;
    }

    .event-card button{
        background: transparent;
        padding: 0;
        color: #000 !important;
    }

    ul.presenters-list, ul.presenters-list li{
        
        
    }

    ul.presenters-list li{
        padding-left: 0;
        margin-bottom: 0;
    }

    ul.presenters-list > li::before{
        content: "";
        position: relative;

    }

    .time-slot{
        display: flex;
        gap: 1rem;
        

    }

    .session-container .time-slot:first-of-type{
        width: 60px;
    }

    .event-container.session-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .event-container.workshop-container {
        grid-template-columns: repeat(4, 1fr);
    }

    /* main, .event-container, .event-card{
        border: 1px solid black;
    } */
}